@*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one or more          *
 * contributor license agreements.  See the NOTICE file distributed with       *
 * this work for additional information regarding copyright ownership.         *
 * The ASF licenses this file to You under the Apache License, Version 2.0     *
 * (the "License"); you may not use this file except in compliance with        *
 * the License.  You may obtain a copy of the License at                       *
 *                                                                             *
 *    http://www.apache.org/licenses/LICENSE-2.0                               *
 *                                                                             *
 * Unless required by applicable law or agreed to in writing, software         *
 * distributed under the License is distributed on an "AS IS" BASIS,           *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
 * See the License for the specific language governing permissions and         *
 * limitations under the License.                                              *
 *******************************************************************************@
@(groups: List[metadata.UserGroup])

@import helper._

@main("User Groups") {
    <a href="workflow/new/workflow" class="btn btn-info" role="button">Create New Group</a>
    <table class="table forum table-striped">
        <thead>
            <tr>
                <th class="cell-stat">Group ID</th>
                <th>
                  <h3>GroupName</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm">AuthorId</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Members</th>
            </tr>
        </thead>

        <tbody>
            @for(group <- groups){
            <tr>
                <td>@group.getId</td>
                <td>
                    <h4><a href="/workflow/@group.getId()">@group.getGroupName() </a></h4>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="/userProfile/@group.getAuthorId()">@group.getAuthor()</a></td>
                <td>@group.getAdminList().size() Admin<br> @group.getMemberList.size() Member</td>
            </tr>
            }

        </tbody>
    </table>
</div>

}
